@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;700;900&family=Comfortaa:wght@500;700&family=Thasadith:wght@700&display=swap');

:root{
  --white: #f9f9f9;
  --black:#070707;
  --dark:#1a1a1a;
  --grey:#838383;
  --violet:#b3aafd;
  --violet-dark:#a098ee;
  --cian:#6db5d1;
  --cian-dark:#77d6fb;
  --green:#7ce2c8;
  --green-dark:#7ce2c8;
  --salmon:#ffb5b6;
  --salmon-dark:#fca0a1;
}
html{
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
body{
  background: var(--white);
  margin: 0;
  padding: 0;
}
.container{
  margin: auto;
  max-width: 768px;
  width: 100%;
  height: 100vh;
  background: var(--white);
}
/* Header section */
.header{
  
  margin-top: -10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}
.burger-menu{
  position: fixed;
  z-index: 100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 15px;
}
.burger-menu .line{
  border-radius: 60px;
  margin-top: 4px;
  width: 35px;
  height: 3px;
  background: var(--black);
}
.burger-menu .line:last-child{
  width: 25px;
}

.menu{  
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top , #bdbdbd, var(--white));
  transition: all 1s;
  animation: openMenu linear 400ms;
}
.open{
  display: block;
  opacity: 1;
}
.logo-text{
  display: block;
  transition: all 1s;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: var(--black);
}
.btn{
  cursor: pointer;
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  color: var(--white);
  background: linear-gradient(to right , var(--salmon), var(--salmon-dark));
  transition: all 1s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn-dark{
  background: linear-gradient(to right , var(--violet), var(--violet-dark));
}
.btn-light{
  background: linear-gradient(to right , var(--salmon), var(--salmon-dark));
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes openMenu {
  0%{
    width: 0%;
  }
  25%{
    width: 25%;
  }
  50%{
    width: 55%;
  }
  75%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}
/* Main section */
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero #icon-clima{
  width: 100px;
}
.temperature{
  margin: 0 auto 0 auto;
  font-family: 'Thasadith', sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.hero .location{
  margin: 0 auto 15px auto;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--grey);
}
/* Navigation bar */
.navbar{
  margin: 10px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em 0 1em;
}
.nav-link{
  color: var(--grey);
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 1s;
}
.nav-link:hover{
  color: var(--black);
}
.nav-link:active{
  color: var(--black);
}
/*    Min and Max temperature Section */
.max-min{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 1em 0 1em;
  margin-bottom: 10px;
}
.card{
  margin-left: 10px;
  flex: 0 0 auto;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 120px;
  border-radius:15px;
  background: linear-gradient(to bottom, #e2e2e2, #bdbdbd);
  box-shadow:2px 2px 5px rgba(0, 0, 0, .2), 2px 2px 5px rgba(0, 0, 0, .2);
}

.max{
  margin: auto;
  background: linear-gradient(to bottom , var(--salmon), var(--salmon-dark)) !important;
}
.min{
  margin: auto;
  background: linear-gradient(to bottom , var(--violet), var(--violet-dark)) !important;

}
.card:nth-child(even){
  background:linear-gradient(to bottom,  var(--cian) , var(--cian-dark));
  
}
.card:nth-child(odd){
  background:linear-gradient(to top,  var(--green) , var(--green-dark));
}
.mm-text{
  text-shadow: 5px 5px 5px solid var(--black);
  font-family: 'Archivo', sans-serif;
  color: rgb(240, 240, 240);
}
/* more-info Section */
.more-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
/* Details */
.details{
  opacity: 0;
  display: none;
  border-radius: 25px 25px 0 0;
  transition: all 1s;
  padding-top: 2.8em;
  position: absolute;
  background: #1d1d1d;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 768px;
  /* animation: up 600ms linear 1; */
  margin-bottom: 110px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, .2), 0px 8px 6px rgba(0, 0, 0, .2);
}
.close-btn{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #bdbdbd73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-line{
  position: absolute;
  width: 18px;
  height: 2px;
  background: var(--white);
  box-shadow: 2px 2px 2px solid black;
}
.close-line:first-child{
  transform: rotate(45deg);
}
.close-line:last-child{
  transform: rotate(-45deg);
}
.active{
  display: flex;
  opacity: 1;
}
@keyframes up {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}
/* Next Days Section */
.title-2{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  margin: 10px 10px;
}
.next-days{
  padding: 0 10px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.next-days::-webkit-scrollbar {
  -webkit-appearance: none;
}

.next-days::-webkit-scrollbar:vertical {
  width:4px;
}

.next-days::-webkit-scrollbar-button:increment,.next-days::-webkit-scrollbar-button {
  display: none;
} 

.next-days::-webkit-scrollbar:horizontal {
  height: 4px;
}

.next-days::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 35px;
}

.next-days::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.card-next-day{
  padding: 0;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130px;
}
.card-header{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.day-text{
  margin: 0;
  padding: 0;
  text-align: center;
}
.icon-day{
  margin: 0;
  width: 30px;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-body .text{
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-size: 22px;
}

/* Footer */
.footer{
  display: flex;
  align-items: baseline;
  justify-content: end;

}
.with-love{
  font-family:'Archivo', sans-serif ;
  font-style: italic;
  margin: 1.5em auto;
}
/* dark mode */
body.dark{
  background: var(--dark);
}
body.dark .container{
  background: var(--dark);
}
body.dark .logo-text{
  color: var(--white);
}
body.dark .temperature{
  color: var(--white);
}
body.dark .card{
  box-shadow:2px 2px 5px rgba(255, 255, 255, .2), 2px 2px 5px rgba(255, 255, 255, .2);
}
body.dark .title-2{
  color: var(--white);
}
body.dark .next-days::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
body.dark .burger-menu .line{
  background: var(--white);
}
body.dark .menu{
  background: linear-gradient(to top ,var(--dark), var(--grey));
}
body.dark .nav-link:hover{
  color: var(--white);
}
body.dark .nav-link:active{
  color: var(--white);
}
body.dark .with-love{
  color: var(--white);
}